@model _5051.Models.StudentModel

@* Title of page, Update *@
@{
    ViewBag.Title = "Update";
}


<div class="container">
    <div class="row">
        @{
        if (Model == null)
        {
        <p>No Avatar</p>
        }

        else
        {
        <div class="row">
            <h2>Update Attendance</h2>
            <br />
            <br />
            <div class="row">
                <div class="col-sm-3 text-right">
                </div>
                <div class="col-sm-4">
                    <br />
                    <span>
                        <br />
                        <br />
                        <br />
                    </span>
                </div>
            </div>
            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.Status)
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Status)
                    @Html.ValidationMessageFor(m => m.Status)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.AvatarId)
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.AvatarId)
                    @Html.ValidationMessageFor(m => m.AvatarId)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.Name)
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                <div class="col-sm-3 text-right">
                </div>
                <div class="col-sm-4">
                    @Html.ActionLink("Cancel", "Index", new { id = Model.Id }, new { @class = "btn btn-success" })
                    <input type="submit" value="Update" class="btn btn-primary">
                </div>
            </div>
            }
        </div>
        }

        }
    </div>
</div>
